<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="main.css">
    <title>Covid19-Meter</title>
</head>
<body>
    <nav class="navbar navbar-light justify-content-center d-flex bg-dark">
        <a class="navbar-brand" href="/">Covid19-Meter</a>
    </nav>
    <div class="container mt-5">
        <div class="jumbotron">
            <div id="error">
                <h1 class="text-center">This City is Corona free!!</h1>
                <p class="text-center">If you have any problem regarding the result please check the guide.</p>
            </div>
        </div>
    </div>
</body>
</html>